:root{
    --blueGradiant : radial-gradient(circle, #228dc3 52%, #09479e 100%);
    --orangeGradient: radial-gradient(circle, #ff9a00 52%, #dc4a01 100%);
    --greyGradient: radial-gradient(circle, #e6e6e6 50%, #696969 100%);
    --grey: #242424;
}

body{
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Amatic SC', cursive;
}


/*----------------------------------------------*/

header{
    background-color: var(--grey);
    color: #fff;
}

main{
  background: var(--blueGradiant);
}

.singleCardContainer{
    background-color: transparent;
    perspective: 1000px;
}

.flip-card{
  height: 100%;
  width: 100%;
}

.flip-card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  transition: all 0.4s ease-out;
  transform-style: preserve-3d;
}
  
.cardFront, .cardBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
  
.cardFront {
  border: 5px solid var(--grey);
  background: var(--orangeGradient);
}
  
.cardBack {
  border: 5px solid var(--grey);
  color: var(--grey);
  transform: rotateY(180deg);
}

#buttonContainer p{
  font-size: 2rem;
  font-weight: bold;
  color: var(--grey);
}

.btn-memory{
    color: #fff;
    background-color: #8153ED;
    border-color: #8153ED;
}

.btn:hover {
  color: #BA84F3;
  font-weight: bold;
}